@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #52e3a5,
    #38bdf8,
    #8b5cf6
  );
  -webkit-background-clip: text;
  color: transparent;
}

.glass {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.glow {
  box-shadow:
    0 0 30px rgba(82, 227, 165, 0.3),
    0 0 80px rgba(82, 227, 165, 0.15);
}

.floating {
  animation: float 5s ease-in-out infinite;
}

.spinSlow {
  animation: spinSlow 20s linear infinite;
}

.fadeIn {
  animation: fadeIn 1s ease forwards;
}

@keyframes float {
  0%,100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-15px);
  }
}

@keyframes spinSlow {
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from{
    opacity:0;
    transform:translateY(30px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }
}

.hero-grid {
  background-image:
  linear-gradient(rgba(255,255,255,.04) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.04) 1px, transparent 1px);

  background-size: 60px 60px;
}

.neon-border {
  position: relative;
}

.neon-border::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: inherit;

  background: linear-gradient(
    135deg,
    #52e3a5,
    #38bdf8,
    #8b5cf6
  );

  z-index: -1;
  opacity: .8;
  filter: blur(12px);
}